apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageUpdateAutomation
metadata:
  name: blog
spec:
  interval: 1m
  sourceRef:
    kind: GitRepository
    name: blog
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        name: fluxcdbot
        email: fluxcdbot@users.noreply.github.com
      messageTemplate: "chore: update blog image to {{.NewImage}}"
    push:
      branch: main
  update:
    path: ./deploy
    strategy: Setters
